/* Global settings */

:root {
  /* header Height */

  --header-height: 80px;

  /* Шрифты */
  --font-logo-raleway: "Raleway", sans-serif;
  --font-main: "Roboto", sans-serif;

  /* Text Color */
  --main-color-text: #757575;
  --titel-color-text: #212121;
  --white-color: #ffffff;
  --logo-black-text: #000000;
  --logo-blue-text: #2196f3;

  /* interactive Colors */
  --bgd-accent-color: #2f303a;
  --activ-color-blue: #2196f3;
  --bgd-button-filter: #f5f4fa;

  /* icon color */
  --icon-main-color: #afb1b8;

  /* border */
  --border-card-portfolio: #eeeeee;

  /* Анимации */
  --timing-fucnction: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стандартные стили */

body {
  color: var(--main-color-text);
  font-family: var(--font-main);
  padding-top: var(--header-height);
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* hover focus tab */

.nav-link:hover,
.nav-link:focus,
.contact-header-link:hover,
.contact-header-link:focus,
.contact-footer-link:hover,
.contact-footer-link:focus {
  color: var(--activ-color-blue);
}
/* Animation */

/* header */
.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--white-color);
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;

  /* чтобы перекрывать img в разделе work */
  z-index: 2;
}

/* logotype */
.logo {
  font-family: var(--font-logo-raleway);

  color: var(--logo-black-text);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;

  text-decoration: none;
}

.logo.white {
  color: var(--white-color);
  margin-bottom: 20px;
}

.web {
  color: var(--logo-blue-text);
}

/*  Navigation */
.flex-header {
  display: flex;
  align-content: center;
}

.nav {
  display: flex;
  align-items: center;
  height: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-page {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.nav-item:not(:first-child) {
  margin-left: 50px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;

  color: var(--titel-color-text);
  font-size: 14px;
  line-height: 1.14;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fucnction);
}

.current {
  position: relative;
  color: var(--activ-color-blue);
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 17px;
  transform: translateY(28px);

  background-color: var(--activ-color-blue);
  border-radius: 2px;
}

/* .nav-link, */
.contact-header-link {
  letter-spacing: 0.02em;
}

/* TOP Contacts */
.contact-header {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact-item:not(:first-child) {
  margin-left: 50px;
}

.contact-header-link {
  display: inline-flex;
  align-items: center;

  color: var(--main-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fucnction);
}

.icon-contact {
  margin-right: 10px;
  fill: currentColor;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgd-accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.address-box {
  width: 231px;
}

.flex-footer {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.contact-footer-link {
  color: var(--main-color-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fucnction);
}

.map-link {
  color: var(--white-color);
}

.footer-email-item,
.footer-tel-item {
  margin-top: 9px;
}

.title-social,
.title-subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white-color);
}
.social-box {
  align-items: baseline;
  margin-left: 70px;
}

.social {
  display: flex;
}

.social-item + .social-item {
  margin-left: 10px;
}
.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: color 250ms var(--timing-fucnction),
    background-color 250ms var(--timing-fucnction);
}

.social-link:hover,
.social-link:focus {
  color: var(--white-color);
  background-color: var(--activ-color-blue);
}
.icon-social {
  fill: currentColor;
}

.subscribe-box {
  margin-left: 93px;
}

/* Subscribe */

.form-footer {
  display: flex;
  align-items: center;
}

.field-footer {
  margin-right: 12px;
}

.subscribe-email {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
}

.subscribe-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.subscribe-email:focus {
  outline: 1px solid var(--activ-color-blue);
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 28px;
  height: 50px;

  border: none;
  color: var(--white-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.btn-subscribe:active {
  background-color: #188ce8;
}

.icon-subscribe {
  margin-left: 10px;
  fill: currentColor;
}

/* Main */

.hero-section {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Подстраховка bgd */
  background-color: var(--activ-color-blue);
}

.hero-title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Batton */

.btn {
  min-width: 216px;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  color: var(--white-color);
  background-color: var(--activ-color-blue);
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  user-select: none;
}

.btn:active {
  background-color: #188ce8;
}

/* Section original */

.flex-features {
  display: flex;
}

.item-features:not(:last-child) {
  margin-right: 30px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.subtitle {
  margin-bottom: 10px;
  line-height: 1.14;

  color: var(--titel-color-text);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.descript {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Section works img */

.work {
  padding-top: 0;
}

.flex-work {
  display: flex;
  justify-content: space-between;
}

.tumb {
  position: relative;
  overflow: hidden;
}
.work-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.title-work,
.title-team,
.title-client {
  color: var(--titel-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/*  Section team */

.team {
  background-color: #f5f4fa;

  text-align: center;
}

.flex-team {
  display: flex;
  justify-content: space-between;
}

.team-card {
  width: 270px;
  border-radius: 0px 0px 4px 4px;

  background: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-cont {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  color: var(--titel-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.network {
  display: flex;
  justify-content: center;

  gap: 10px;
}

.icon-network-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--white-color);
  color: var(--icon-main-color);

  transition: color 250ms var(--timing-fucnction),
    background-color 250ms var(--timing-fucnction);
}

.icon-network-link:hover,
.icon-network-link:focus {
  background-color: var(--logo-blue-text);
  color: var(--white-color);
}

.icon-network {
  fill: currentColor;
}

/* claint  */

.clients {
  display: flex;
}
.icon-client-item {
  width: 170px;
  height: 92px;
}

.icon-client-item + .icon-client-item {
  margin-left: 30px;
}

.icon-client-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-main-color);

  transition: color 250ms var(--timing-fucnction),
    border 250ms var(--timing-fucnction);
}

.icon-client-link:hover,
.icon-client-link:focus {
  color: var(--activ-color-blue);
  border-color: var(--activ-color-blue);
}
.icon-client {
  fill: currentColor;
}

/* 2 Main Portfolio */

/* filter */
.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  color: var(--titel-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-btn {
  padding: 6px 22px;
  font-family: var(--font-main);
  border: none;

  color: var(--titel-color-text);
  background-color: var(--bgd-button-filter);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
  user-select: none;
  transition: color 250ms var(--timing-fucnction),
    background-color 250ms var(--timing-fucnction),
    box-shadow 250ms var(--timing-fucnction);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--activ-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Project page */

.projects {
  display: flex;
  flex-wrap: wrap;

  /* gap: 30px; */
}

.project-card {
  width: calc((100% - 15 * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: var(--white-color);
}

/* Сетка */
.project-card:nth-child(3n) {
  margin-right: 0px;
}
.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-link {
  display: block;
  text-decoration: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fucnction);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  /* Когда 100% видна синяя линия под изображением */
  transform: translateY(101%);

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-fucnction);
}

.project-link:hover .overlay-desc,
.project-link:focus .overlay-desc {
  transform: translateY(0);
}

.project-container {
  padding: 20px 24px;
  border-left: 1px solid var(--border-card-portfolio);
  border-bottom: 1px solid var(--border-card-portfolio);
  border-right: 1px solid var(--border-card-portfolio);
}
.project-title {
  color: var(--titel-color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-label {
  margin-top: 4px;

  color: var(--main-color-text);
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;

  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;
  transition: opacity 450ms var(--timing-fucnction),
    visibility 450ms var(--timing-fucnction);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 450ms var(--timing-fucnction);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%) scale(0.3);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 250ms var(--timing-fucnction),
    background-color 200ms var(--timing-fucnction);
}

.modal-close:hover .icon-close {
  fill: var(--activ-color-blue);
}

.modal-close:active {
  background-color: #188ce8;
}

.icon-close {
  fill: #000;
  transition: fill 250ms var(--timing-fucnction);
}

.title-modal {
  color: var(--titel-color-text);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}
.form-label {
  font-size: 12px;
  line-height: 1.1666;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}

.icon-position {
  position: relative;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  height: 40px;
  padding: 12px 42px;
  width: 100%;

  transition: outline 250ms var(--timing-fucnction);
}

.form-input:focus {
  outline: 1px solid var(--activ-color-blue);
}

.form-input:focus + .icon-form {
  fill: var(--activ-color-blue);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: var(--titel-color-text);

  transition: fill 250ms var(--timing-fucnction);
}

.form-textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: outline 250ms var(--timing-fucnction);
}

.form-textarea:focus {
  outline: 1px solid var(--activ-color-blue);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  margin-bottom: 30px;
}

.label-checkbox {
  display: inline-flex;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-left: 8px;
  align-items: center;
}

.label-link {
  color: var(--activ-color-blue);
  text-decoration: none;
}

.input-checkbox {
  position: absolute;
  top: 0;
  left: 0;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-checkbox:checked + .icon-check {
  background-color: var(--activ-color-blue);
  border-color: var(--activ-color-blue);
}
.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid var(--titel-color-text);
  /* border-radius: 2px; */
  background-image: url(../images/modal/icon-check.svg);
  cursor: pointer;

  transition: border-color 250ms var(--timing-fucnction),
    background-color 250ms var(--timing-fucnction);
}

.btn-send {
  min-width: 200px;
  padding: 10px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--activ-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.btn-send:active {
  background-color: #188ce8;
}
